/**
 * AllEntities Page Styles
 */

.all-entities {
  &__statistics {
    // Statistics section
  }

  &__filters {
    // Filter section
  }

  &__entity-item {
    transition: transform 0.2s ease;
    
    &:hover {
      transform: translateY(-2px);
    }
  }
}

